<div class="container-fluid cont">
    <span> <h3 class="welcome" >Welcome to Student Management System</h3></span><br>
  <div class="row">
    <div class="col-4">
      <button type="menu" class="btn btn-mg btn-outline-light btn-lg" routerLink="/register" routerLinkActive="Active">Register +</button>
    </div>
    <div class="col-4">
      <button type="menu" class="btn btn-mg btn-outline-light btn-lg" routerLink="/list" routerLinkActive="Active">Student List</button>
    </div>
  </div>
   
  </div>
  
  <router-outlet></router-outlet>
  
